:root {
  --grid-cols: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font: inherit;
  min-height: 100vh;
}

.app,
button,
input,
textarea {
  font-family: 'Noto Sans JP', sans-serif;
}

button,
input {
  font-weight: 500;
}

textarea {
  resize: none;
}

.app h1 {
  color: #4f4f4f;
}

.grid-cols-1 {
  --grid-cols: 1;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-cols-3 {
  --grid-cols: 3;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-cols-4 {
  --grid-cols: 4;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.footer {
  color: #a9a9a9;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17px;
}

.sidebar {
  display: grid;
  grid-template-columns: 18rem 1fr;
}

.container {
  padding: 16px 24px;
}

.component-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.component-container p {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #333333;
}

.navbar {
  background-color: #fafbfd;
}

ul {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
}

.nav-list li {
  padding-block: 1rem;
}

.logo {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  padding-block: 2rem;
}

.logo span {
  color: #f7542e;
}

.active {
  color: #f7542e;
}
