:root {
  --grid-cols: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font: inherit;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  font-family: 'Noto Sans JP', sans-serif;
}

.app h1 {
  color: #4f4f4f;
}

.btn-header {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #333333;
}

.btn-text {
  color: #828282;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

.btn-hover {
  background-color: #aeaeae;
  outline: none;
}

.btn.btn-default:hover,
.btn.btn-default:focus-within {
  background-color: #aeaeae;
  outline: none;
}

.drop-shadow {
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.disable-shadow {
  box-shadow: none;
}

.outline {
  background: transparent;
  color: #3d5afe;
  border: 1px solid #3d5afe;
  box-shadow: none;
}

.text {
  background: transparent;
  box-shadow: none;
  color: #3d5afe;
}

.btn.outline.hover,
.btn.text.hover {
  background: rgba(41, 98, 255, 0.1);
}

.btn.outline:hover,
.btn.outline:focus-within,
.btn.text:hover,
.btn.text:focus-within {
  background: rgba(41, 98, 255, 0.1);
}

.btn:disabled,
.btn[disabled] {
  box-shadow: none;
  cursor: auto;
  color: #9e9e9e;
  pointer-events: none;
}

.btn:disabled:hover {
  background-color: #aeaeae;
}

.btn-primary,
.btn-secondary,
.btn-danger {
  color: #fff;
}

.btn-primary {
  background-color: #2962ff;
}

.btn-secondary {
  background-color: #455a64;
}

.btn-danger {
  background-color: #d32f2f;
}

.btn-primary-hover,
.btn-primary:hover,
.btn-primary:focus-within {
  background-color: #0039cb;
}

.btn-secondary-hover,
.btn-secondary:hover,
.btn-primary:focus-within {
  background-color: #1c313a;
}

.btn-danger-hover,
.btn-danger:hover,
.btn-primary:focus-within {
  background-color: #9a0007;
}

.btn-sm {
  padding: 0.375rem 0.75rem;
}

.btn-md {
  padding: 0.5rem 1rem;
}

.btn-lg {
  padding: 0.6875rem 1.375rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.grid-cols-3 {
  --grid-cols: 3;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-cols-4 {
  --grid-cols: 4;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.icons {
  font-size: 1rem;
}

.btn-inner-text.ml {
  margin-left: 5px;
}

.btn-inner-text.mr {
  margin-right: 5px;
}

.btn-inner-text,
.icons {
  vertical-align: middle;
}

.footer {
  color: #a9a9a9;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17px;
}
